* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  background: black; /* ONLY CHANGE */
  min-height: 100vh;
  overflow-x: hidden;
}

/* INTRO */
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  text-align: center;
}

#intro h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

#intro button {
  padding: 15px 40px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: red;
}

/* INTRO HEARTS */
.intro-hearts {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.i-heart {
  position: absolute;
  color: red;
  font-size: 50px;
  animation: floatIntro 2s ease-in-out infinite;
}

.small { font-size: 20px; }
.large { font-size: 80px; }

.i-heart:nth-child(1) { left: 10%; top: 20%; }
.i-heart:nth-child(2) { left: 30%; top: 50%; }
.i-heart:nth-child(3) { left: 70%; top: 30%; }
.i-heart:nth-child(4) { left: 80%; top: 70%; }
.i-heart:nth-child(5) { left: 50%; top: 80%; }
.i-heart:nth-child(6) { left: 20%; top: 70%; }
.i-heart:nth-child(7) { left: 60%; top: 15%; }
.i-heart:nth-child(8) { left: 40%; top: 40%; }

@keyframes floatIntro {
  0% { transform: scale(1); opacity: 0.6; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: 0.6; }
}

.hidden {
  display: none;
}

/* PAGE */
.page {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 40px;
}

.left {
  width: 320px;
  position: relative;
  left: -40px;
  top: 40px;
}

#slideImage {
  width: 240px;
  height: 320px;
  object-fit: cover;
  border-radius: 0;
}

#quote {
  margin-top: 20px;
  text-align: center;
}

.right {
  width: 320px;
  text-align: center;
}

.surprise-box {
  text-align: center;
  position: relative;
  left: 50px;
  top: 40px;
}

.surprise-box img {
  width: 260px;
  border-radius: 0;
}

.action-btn {
  position: absolute;
  right: 40px;
  padding: 12px 32px;
  background: red;
  color: black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.first-btn { top: 50%; transform: translateY(-50%); }
.second-btn { bottom: 90px; }

#musicBtn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
